<!doctype html>
<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="#">
  </head>

  <body>
    <ul class="nav nav-pills">
      <li role="presentation" style="float: right;"><a href="/contactus">Contact Us</a></li>
      <li role="presentation" style="float: right;"><a href="/donate">Donate</a></li>
      <li role="presentation" style="float: right;" class="active"><a href="/aboutus">About Us</a></li>
      <li role="presentation" style="float: right;"><a href="/people">People</a></li>
      <li role="presentation" style="float: right;"><a href="/signup">Sign Up</a></li>
      <li role="presentation" style="float: right;"><a href="/signin">Sign In</a></li>
      <li role="presentation" style="float: right;"><a href="/">Home</a></li>
      <a class="navbar-brand" href="/" style="color: orange">CommunityLinks</a>
    </ul>

    <div class="container">
      <h1>Our Story</h1>
        <div class="col-md-6">
        <img src="https://lh5.googleusercontent.com/O0FlxvpksHgK3-Gq27P-gfs3I8xPGBQznT3o6ES_XXNSppUUGh7ama4dWCl8imL-kioK92ppcY4FPw7eTkoGmS1aGWGoUiX00-1p3tPVC9_YW1CYIRbCWJjDQpULeULKvcAzkgfva18" width="460" height="345">
      <iframe width="460" height="345"
        src="https://www.youtube.com/embed/7cDzjH8mvD0" allowfullscreen>
      </iframe>
    </div>
      <p></p>
      <p style="font-size: 12pt"> 
       Before we say what do we do, we would like to tell you who
       we are. Just like all our competitors today we have identified countless issues in the world and are compelled to take action. In fact, together we have totalled hundreds of hours of community service. We performed these service opportunities because we wanted
       to make a change for the organizations we served, and for the people those organizations help. But in these hours of service we have all unexpectedly learned something about charitable work We learned the difference between sympathy and empathy, we discovered
       an affinity  to make change and found through our intimacy with our community  a feeling of trust and responsibility  we learned that Community service is not the action of one individual bettering a community but rather an individual and an organization bettering
       one another. The tie that is Community
       service is extraordinarily important to community. If that bond can be strengthened, communities can be strengthened. We
       strive to strengthen communities by making stronger the ties between organizations students and schools.
      </p>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
