<!doctype html>
<html>
  <head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
  </head>

  <ul class="nav nav-pills">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="/aboutus">About Us</a></li>
    <li role="presentation"><a href="/people">People</a></li>
    <li role="presentation" class="active" style="float: right;"><a href="/contactus">Contact Us</a></li>
    <li role="presentation" style="float: right;"><a href="/signup">Sign Up</a></li>
  </ul>
  <body>
    <div class="container">
      <h1>Thank You for signing up for Community Links</h1><br>
      <a href="/">Return to Home</a>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>