<!doctype html>
<html>
  <head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="#">
  </head>

  <ul class="nav nav-pills">
      <li role="presentation" style="float: right;" class="active"><a href="/contactus">Contact Us</a></li>
      <li role="presentation" style="float: right;"><a href="/donate">Donate</a></li>
      <li role="presentation" style="float: right;"><a href="/aboutus">About Us</a></li>
      <li role="presentation" style="float: right;"><a href="/people">People</a></li>
      <li role="presentation" style="float: right;"><a href="/signup">Sign Up</a></li>
      <li role="presentation" style="float: right;"><a href="/signin">Sign In</a></li>
      <li role="presentation" style="float: right;"><a href="/">Home</a></li>
      <a class="navbar-brand" href="/" style="color: orange">CommunityLinks</a>
    </ul>
  <body>
    <div class="container">
      <h1>Contact Us</h1>
      <br>
      <address>
        <strong>Community Links, Inc.</strong><br>
        260 W 78th St<br>
        New York, NY 10024<br>
        <abbr title="Phone">P:</abbr> (917) 971-7331
      </address>

      <address>
        <strong>Email</strong><br>
        <a href="mailto:communitylinks2017@gmail.com">communitylinks2017@gmail.com</a>
      </address>

      <address>
        <strong>Social Media</strong><br>
        <a href="https://www.facebook.com/CommunityLinks-182198768957987/?notif_t=page_admin&notif_id=1491070336233822" target="_blank">Facebook</a><br>
        <a href="https://twitter.com/CommunityLinks7" target="_blank">Twitter</a>
      </address>
      <img src="https://lh5.googleusercontent.com/O0FlxvpksHgK3-Gq27P-gfs3I8xPGBQznT3o6ES_XXNSppUUGh7ama4dWCl8imL-kioK92ppcY4FPw7eTkoGmS1aGWGoUiX00-1p3tPVC9_YW1CYIRbCWJjDQpULeULKvcAzkgfva18" alt="Mountain View" style="width:304px;height:228px;">
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>