<!doctype html>
<html>
  <head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
  </head>

  <ul class="nav nav-pills">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="/aboutus">About Us</a></li>
    <li role="presentation"><a href="/people">People</a></li>
    <li role="presentation" class="active" style="float: right;"><a href="/contactus">Contact Us</a></li>
    <li role="presentation" style="float: right;"><a href="/signup">Sign Up</a></li>
  </ul>
  <body>
    <div class="container">
      <h1>Contact Us</h1>
      <br>
      <address>
        <strong>Community Links, Inc.</strong><br>
        260 W 78th St<br>
        New York, NY 10024<br>
        <abbr title="Phone">P:</abbr> (917) 971-7331
      </address>

      <address>
        <strong>Email</strong><br>
        <a href="mailto:devendesai@icloud.com">devendesai@icloud.com</a>
      </address>

      <address>
        <strong>Social Media</strong><br>
        <a href="http://www.facebook.com" target="_blank">Facebook</a><br>
        <a href="https://twitter.com/?lang=en" target="_blank">Twitter</a>
      </address>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>