<!doctype html>
<html>
  <head>
    <title>CommunityLinks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
  </head>
  <body>
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/aboutus">About Us</a></li>
    <li role="presentation"><a href="/people">People</a></li>
    <li role="presentation" style="float: right;"><a href="/contactus">Contact Us</a></li>
    <li role="presentation" style="float: right;"><a href="/signup">Sign Up</a></li>
  </ul>
    <div class="container">
      <div class="jumbotron">
        <h3>Welcome to Community Links!</h3>
        <p> </p>
        <p> We help students find charities in their area and volunteer without the hassle of filling out paperwork. Schools can create groups for students to join, allowing them to more effectively track the community service efforts of students.</p>
        <p><a class="btn btn-primary btn-lg" href="/aboutus" role="button">Learn more</a></p>
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
          </div>
          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
          <a class="btn btn-default" href="#" role="button">Sign In</a>
        </form>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
