<!doctype html>
<html>
  <head>
    <title>CommunityLinks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="#">
    <style>
      .carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
          width: 70%;
          margin: auto;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
    <ul class="nav nav-pills">
      <li role="presentation" style="float: right;"><a href="/contactus">Contact Us</a></li>
      <li role="presentation" style="float: right;"><a href="/donate">Donate</a></li>
      <li role="presentation" style="float: right;"><a href="/aboutus">About Us</a></li>
      <li role="presentation" style="float: right;"><a href="/people">People</a></li>
      <li role="presentation" style="float: right;"><a href="/signup">Sign Up</a></li>
      <li role="presentation" style="float: right;"><a href="/signin">Sign In</a></li>
      <li role="presentation" style="float: right;" class="active"><a href="/">Home</a></li>
      <a class="navbar-brand" href="/" style="color: orange">CommunityLinks</a>
    </ul>
  </nav>
    <p></p>
    <div class="jumbotron" style="background-color: white;">
    <div class="container">
      <div class="jumbotron">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
          </ol>

          <div class="carousel-inner" role="listbox">
            

            <div class="item active">
              <img src="https://pathways.org/wp-content/uploads/2015/12/family_doing_community_service_outside_SMALL400px.jpg" alt="Com" >
            </div>

            <div class="item">
              <img src="http://doingkidsminbetter.com/wp-content/uploads/2016/10/commservices.jpg" alt="Com1" style="width: 100%">
            </div>
          
            <div class="item">
              <img src="https://photos-3.dropbox.com/t/2/AAAYcMSqPPK8L2XZAmLAXcR8Yk08fcw3Ph1gv5U6JWgS9Q/12/34082312/jpeg/32x32/3/1491282000/0/2/SOUP%20KITCHEN%20VOLUNTEERS%202.jpg/EPTnirEFGBggAigC/GXflOwiQCg7a1hXOt6OuZjAgBA9BvicgMkmhcJ9CXUA?dl=0&size=1600x1200&size_mode=3" alt="Com2" style="width: 100%">
            </div>

            <div class="item">
              <img src="https://photos-2.dropbox.com/t/2/AAAifnVFVCF5FWMHqIKC8tP3IkDZJLrL75ZwsfWFFrMIpg/12/34082312/jpeg/32x32/3/1491282000/0/2/STUDENT%20AND%20ELDERLY%20WOMAN.jpg/EPTnirEFGBggAigC/vvbIRiSCIs1GlZda9XygPdSSCe_p2ywfRs0_wtbqnlM?dl=0&size=1600x1200&size_mode=3" alt="Com3" style="width: 100%">
            </div>

            <div class="item">
              <img src="https://photos-1.dropbox.com/t/2/AADeP4iu3n5S-kANJTHeGE35nYvXB_vP1b5zFrq5-2zRMw/12/34082312/jpeg/32x32/3/1491282000/0/2/IMAGE%20OF%20CHILDREN%20AND%20STUDENT.jpg/EPTnirEFGBggAigC/nVKDfUd70jNLuDodOZHrahIv7lZijWhP9XzebrEPu_A?dl=0&size=1600x1200&size_mode=3" alt="Com3" style="width: 100%">
            </div>

            <div class="item">
              <img src="https://lh5.googleusercontent.com/O0FlxvpksHgK3-Gq27P-gfs3I8xPGBQznT3o6ES_XXNSppUUGh7ama4dWCl8imL-kioK92ppcY4FPw7eTkoGmS1aGWGoUiX00-1p3tPVC9_YW1CYIRbCWJjDQpULeULKvcAzkgfva18" alt="Com" >
            </div>
          </div>
        </div>

        <p> </p>
        <center><h3 style="color:orange">CommunityLinks: Student Service Simplified</h3></center>
        <p style="font-family: helvetica"> We help students find charities in their area and volunteer without the hassle of filling out paperwork. Schools can create groups for students to join, allowing them to more effectively track the community service efforts of students.</p>
        <p><a class="btn btn-primary btn-lg" href="/aboutus" role="button">Learn more</a></p>        
      </div>
    </div>
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
