<!doctype html>
<html>
  <head>
    <title>People</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
  </head>
  <body>
<ul class="nav nav-pills">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/aboutus">About Us</a></li>
  <li role="presentation" class="active"><a href="/people">People</a></li>
  <li role="presentation" style="float: right;"><a href="/contactus">Contact Us</a></li>
  <li role="presentation" style="float: right;"><a href="/signup">Sign Up</a></li>
</ul>
    <div class="container">
      <h1> Our staff</h1>
        <p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em; color: #ffd800;"><img src="http://clutchpoints.com/wp-content/uploads/2016/04/hi-res-145833607-russell-westbrook-of-the-oklahoma-city-thunder-reacts_crop_north.jpg" style="width: 100%">Russell Westbrook, CEO</p>
        <p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em; color: #ffd800;"><img src="http://img.bleacherreport.net/img/images/photos/003/451/309/hi-res-d086a70d8c1168f517919dd4685a5304_crop_north.jpg?1435353587&w=630&h=420" style="width: 100%">Lebron James, Vice Chairman</p>
        <p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em; color: #ffd800;"><img src="http://img.bleacherreport.net/img/images/photos/003/577/655/8adc2f86b6eb87b2e2322872c8e3fbfb_crop_north.jpg?1456510897&w=630&h=420" style="width: 100%">Kevin Durant, COO</p>
        <p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em; color: #ffd800;"><img src="http://img.bleacherreport.net/img/images/photos/003/320/653/0982d02136e8d2622c3a82a086e2c75a_crop_north.jpg?1426550196&w=630&h=420" style="width: 100%">Isaiah Thomas, CFO</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>