<!doctype html>
<html>
  <head>
    <title>People</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="#">
  </head>
  <body style="background-color: #f1f1f1;">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
    <ul class="nav nav-pills">
      <li role="presentation" style="float: right;"><a href="/contactus">Contact Us</a></li>
      <li role="presentation" style="float: right;"><a href="/donate">Donate</a></li>
      <li role="presentation" style="float: right;"><a href="/aboutus">About Us</a></li>
      <li role="presentation" style="float: right;" class="active"><a href="/people">People</a></li>
      <li role="presentation" style="float: right;"><a href="/signup">Sign Up</a></li>
      <li role="presentation" style="float: right;"><a href="/signin">Sign In</a></li>
      <li role="presentation" style="float: right;"><a href="/">Home</a></li>
      <a class="navbar-brand" href="/" style="color: orange">CommunityLinks</a>
    </ul>
  </div>
</nav>
    <div class="jumbotron" style="background-color: #f1f1f1;">
    <div class="container">
      <h1> Our staff</h1>
        <p style="float: left; font-size: 12pt; text-align: center; width: 20%; margin-right: 1%; margin-bottom: 0.5em;"><img src="https://lh3.googleusercontent.com/-XWjnpQFr4QE/WOK8ac1NoHI/AAAAAAAAAC8/nttKxMTFmR4wr0BcMZTPFXsFUS4DtPyGgCL0B/s480-d-p-rw/13740908_274442719591207_1521912606_n.jpg" style="width: 100%"><strong>Nathaniel Hylton, CEO</strong><br> A Prep For
 Prep graduate, a Sophomore at Collegiate School, and from Brooklyn, New York. Nathaniel is the founder of CommunityLinks and is credited with coming up with the idea for our company. He spends most of his free time working on speeches for the congressional
 debate team. When he is not going to different national debate tournaments at prestigious universities, he is working at Bloomberg, and becoming more advanced in coding away.
        </p>
        <p style="float: left; font-size: 12pt; text-align: center; width: 20%; margin-right: 1%; margin-bottom: 0.5em;"><img src="http://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg" style="width: 100%"><strong>Bryant Blackburn, CFO </strong><br> A Junior at the Collegiate School and resident of Canarsie Brooklyn, New York. Bryant is our head
 of publicity and Marketing and the creator of the CommunityLinks mission. When not working on the public presentation of the Company, Bryant plays Varsity Soccer, Basketball, and Track and Field for Collegiate, plays the stand-up bass, and listens to music.
 Bryant Blackburn is the Co-Founder of Collegiate School’s Entrepreneurship Club, member of the International Aid Club, and Science Olympiad Club
        </p>
        <p style="float: left; font-size: 12pt; text-align: center; width: 20%; margin-right: 1%; margin-bottom: 0.5em;"><img src="https://lh3.googleusercontent.com/-6Zi5GaU7fOQ/WOK8flqGwVI/AAAAAAAAADU/t3H-n3HVEakp2jAE1YPY3DBODvMhjcwuQCL0B/s530-d-p-rw/17267714_226448047831110_3207915084881854464_n.jpg" style="width: 100%"><strong>Brendan Boustany, COO </strong><br> A Sophomore at
 the Collegiate School, a current resident of Manhattan, and our Multimedia Director, Brendan became interested in multimedia and specifically film after he went on a tour of Warner Brothers Studio when he was seven. Other than film Brendan is an avid supporter
 of  Manchester United Futbol club and plays soccer in his spare time. Brendan writes film reviews for our school paper and has directed movies.</p>
        <p style="float: left; font-size: 12pt; text-align: center; width: 20%; margin-right: 1%; margin-bottom: 0.5em;"><img src="https://lh3.googleusercontent.com/-57jfn22tqeo/WOLxQGM7FzI/AAAAAAAAAF8/ERueEzvP8BwPOlgsYS7UOQOLRZs8jljQACL0B/w530-d-h803-p-rw/Deven.jpg" style="width: 100%"><strong>Deven Desai, CTO </strong><br> A Junior at the Collegiate
 School and resident of Manhattan, Deven is our head developer and the creator of the CommunityLinks website. When he is not coding for a revolutionary company he is playing Tennis or Practicing Viola for his role as first stand Violist in the Collegiate
 Orchestra. Deven is the Co-Founder of Collegiate’s Entrepreneurship Club, a class representative in student government, and loving older brother.
        </p>
    </div>
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>