<!doctype html>
<html>
  <head>
    <title>CommunityLinks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="#">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container-fluid">
			<ul class="nav nav-pills">
				<li role="presentation"  class="active"  style="float: right;"><a href="#">Home</a></li>
				<a class="navbar-brand" href="/" style="color: orange">CommunityLinks</a>
				<li role="presentation" style="float: right;"><a href="#">Profile</a></li>
				<button class="btn btn-primary" type="button" style="float: right; margin-top: 4px;">
				  Messages <span class="badge">2</span>
				</button>
				<li role="presentation" style="float: right;"><a href="/postevents">Post Events</a></li>
		</div>
	</nav>

	<div class="jumbotron" style="background-color: white;">
				<nav aria-label="...">
  					<ul class="pager">
				    	<li><a href="#">Previous Day</a></li>
				    	&nbsp<strong>November 23, 2017</strong>&nbsp
				    	<li><a href="#">Next Day</a></li>
				  	</ul>
				</nav>
				<p></p>
				<p>Today's Events</p>
				<table class="table table-striped">
				  <thead>
				  	<tr>
				  		<th>Student Names</th>
				  		<th>Location</th>
				  		<th>Time</th>
				  		<th>Applicants</th>
				  		<th>Edit</th>
				  	</tr>
				  </thead>
				  <tbody>
				  	<tr>
				  		<th>Soup Kitchen</th>
				  		<th>2298 Broadway, new York, NY 10024</th>
				  		<th>10:00 AM - 1:00 PM</th>
				  		<th>2</th>
				  		<th><a href="/studentlist">See Student List</a></th>
				  		
				  	</tr>
				  	<tr>
				  		<th>Clean The Park</th>
				  		<th>185 Montague Street, Brooklyn, NY 11201</th>
				  		<th>2:00 PM - 3:30 PM</th>
				  		<th>15</th>
				  		<th><a href="/studentlist">See Student List</a></th>
				  	</tr>
				  	<tr>
				  		<th>Organizing Books</th>
				  		<th>260 W 78th Street, New York, NY 10029</th>
				  		<th>4:00 PM - 6:00 PM</th>
				  		<th>11</th>
				  		<th><a href="/studentlist">See Student List</a></th>
				  	</tr>
				  	<tr>
				  		<th>Gardening</th>
				  		<th>805 Columbus Ave, new York, NY 10025</th>
				  		<th>7:00 AM - 9:00 AM</th>
				  		<th>31</th>
				  		<th><a href="/studentlist">See Student List</a></th>
				  	</tr>
				  </tbody>
				</table>
			</div>
		</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>