<!doctype html>
<html>
  <head>
    <title>CommunityLinks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="#">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
    <ul class="nav nav-pills">
      <li role="presentation" style="float: right;"><a href="/contactus">Contact Us</a></li>
      <li role="presentation" style="float: right;"><a href="/donate">Donate</a></li>
      <li role="presentation" style="float: right;"><a href="/aboutus">About Us</a></li>
      <li role="presentation" style="float: right;"><a href="/people">People</a></li>
      <li role="presentation" style="float: right;"><a href="/signup">Sign Up</a></li>
      <li role="presentation" style="float: right;" class="active"><a href="/signin">Sign In</a></li>
      <li role="presentation" style="float: right;"><a href="/">Home</a></li>
      <a class="navbar-brand" href="/" style="color: orange">CommunityLinks</a>
    </ul>
  </nav>

    <div class="jumbotron" style= "
      width: 560px;
      position: fixed;
      top: 45%;
      left: 45%;
      margin-top: -100px;
      margin-left: -200px;">
      <h4>CommunityLinks</h4>
      <form action="/studenthome" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="checkbox" style="float: right;">
          <label>
            <input type="checkbox"> Remember me
          </label>
        </div>
        <select class="form-control" style="width: 77px;" name="type">
            <option>Student</option>
            <option>Charity</option>
            <option>School</option>
        </select>
        <p></p>
        <input type="submit" class="btn btn-default">
      </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>